#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
}

#navbar {
  display: flex;
  justify-content: space-around;
}

#navbar button {
  margin: 5px;
}

.formularioCSS {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formularioCSS input {
  max-width: 40vw;
  margin-bottom: 10px;
}

.buttonFormCSS {
  max-width: 15vw;
  margin-top: 10px;
  border-radius: 10%;
  padding: 10px;
}

.formularioMatchCard {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.formularioMatchCard select {
  margin-bottom: 20px;
}

.formularioMatchCard input {
  margin-bottom: 20px;
}

.showMatchesCSS {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.showMatchesCSS h3,p {
  width: 17%;
  margin: 5px;
}

.showMatchesCSS button {
  margin: 5px;
}

#commentCardCSS {
  display: flex;
  flex-direction: column;
  border: solid;
  margin: 10px;
}

#commentCardCSS p {
  width: 100%;
}

#commentCardBtn {
  display: flex;
  justify-content: end;
}

#userCardCSS {
  display: flex;
  border: solid;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

#userCardCSS p {
  width: 80%;
}
