#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-image: url(./assets/background_01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  background: radial-gradient(#60efbc, #58d5c9);
}


#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding-top: 10px;
  color: white;
}

#navbar-menu-shadow {
  position: absolute;
  left: 0;
  top: 2.5rem;
  width: 15%;
  height: 100px;
  background-color: gray;
  z-index: 999;
  padding: 1.5rem 1.25rem;
  opacity: 0;
  transition: all 0.4s;
}

#navbar-menu-show {
  position: absolute;
  left: 0;
  top: 2.5rem;
  width: 87%;
  height: calc(100vh - 3.5rem);
  background-color: gray;
  overflow: auto;
  padding: 1.5rem 1.25rem;
  opacity: 1;
  transition: all 0.4s;
}

#navbar-menu-elements {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#navbar-logout {
  position: fixed;
  top: 0;
  height: 70px;
  width: 63.6%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}


/* BOTONES VERDES DEL NAVBAR */
.btnNavBar {
  font: inherit;
  color: white;
  background-color: #000;
  border: .2em solid #333;
/*   border: .2em solid transparent; */
  border-radius: .5em;
  transition: all .25s ease-in;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, #633 0, transparent 1em, transparent 100%),
    linear-gradient(0deg, #633 0, transparent 1em, transparent 100%),
    linear-gradient(270deg, #633 0, transparent 1em, transparent 100%),
    linear-gradient(180deg, #633 0, transparent 1em, transparent 100%);
  background-position: -1em 0, 0 1em, 1em 0, 0 -1em;
  width: 8rem;
  font-size: 100%;
  white-space: nowrap;
}

.btnNavBar:focus, .btnNavBar:hover {
  border: .2em solid #00FF00;
  box-shadow: 0 0 1.2em #00FF00, inset 0 0 1.2em #00FF00;
  outline: none;
}

.btnNavBar:focus + .btnNavBar, .btnNavBar:hover  + .btnNavBar {
  border-bottom-color: #333;
  background-position: -1em 0, 0 1em, 1em 0, 0 0;
}

.btnNavBar:has(+ .btnNavBar:focus), .btnNavBar:has(+ .btnNavBar:hover) {
  border-top-color: #333;
  background-position: -1em 0, 0 0, 1em 0, 0 -1em;
}


/* BOTONES ROJOS */
.btnRed {
  font: inherit;
  color: white;
  background-color: #000;
  border: .2em solid #333;
/*   border: .2em solid transparent; */
  border-radius: .5em;
  transition: all .25s ease-in;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, #633 0, transparent 1em, transparent 100%),
    linear-gradient(0deg, #633 0, transparent 1em, transparent 100%),
    linear-gradient(270deg, #633 0, transparent 1em, transparent 100%),
    linear-gradient(180deg, #633 0, transparent 1em, transparent 100%);
  background-position: -1em 0, 0 1em, 1em 0, 0 -1em;
  width: 8rem;
  font-size: 100%;
  white-space: nowrap;

}

.btnRed:focus, .btnRed:hover {
  border: .2em solid #F00;
  box-shadow: 0 0 1.2em #F00, inset 0 0 1.2em #F00;
  outline: none;
}

.btnRed:focus + .btnRed, .btnRed:hover  + .btnRed {
  border-bottom-color: #333;
  background-position: -1em 0, 0 1em, 1em 0, 0 0;
}

.btnRed:has(+ .btnRed:focus), .btnRed:has(+ .btnRed:hover) {
  border-top-color: #333;
  background-position: -1em 0, 0 0, 1em 0, 0 -1em;
}



#btn-burguer-active {
  opacity: 1;
  position: absolute;
  padding-top: 5px;
  font-size: 1.5rem;
  transition: all 0.4s;
}

#btn-burguer-shadow {
  opacity: 0;
  transform: rotate(90deg);
}

#btn-close-active {
  opacity: 1;
  position: absolute;
  right: 30px;
  padding-bottom: 5px;
  font-size: 1.5rem;
  transition: all 0.4s;

}

#btn-close-shadow {
  opacity: 0;
  transform: rotate(90deg);
}

#navbar img {
  margin-left: 10px;
  margin-bottom: 10px;
}

#navbar button {
  margin: 5px;
}

#navBarProfile {
  display: flex;
  margin-left: 10px;
  align-items: center;
  gap: 10px;
}

#nav-toggle {
  position: relative;
  width: 35%;
  height: 30%;
  margin-right: 0;
  left: 20px;
}

.formularioCSS {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formularioCSS input {
  max-width: 40vw;
  margin-bottom: 10px;
}

/* BOTONES DE EDITAR Y COMENTAR */
.btnEditAndComment {
  background: white;
  border: 1px solid white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 5px;
  min-height: 30px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btnEditAndComment:hover,
.btnEditAndComment:active {
  background-color:dodgerblue;
  background-position: 0 0;
  font-weight: 600;
  border: 2px solid black;
  color: white;
}

.btnEditAndComment:active {
  opacity: .5;
}

/* BOTONES EDITAR COMENTARIO */

.btnEditComment {
  background: white;
  border: 1px solid white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 5px;
  min-height: 30px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btnEditComment:hover,
.btnEditComment:active {
  background-color:dodgerblue;
  background-position: 0 0;
  font-weight: 550;
  border: 1px solid black;
  color: white;
}

.btnEditComment:active {
  opacity: .5;
}

/* BOTONES ELIMINAR */

.btnDelete {
  background: white;
  border: 1px solid white;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 5px;
  min-height: 30px;
  outline: 0;
  padding: 5px 5px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-left: 5px;
}

.btnDelete:hover,
.btnDelete:active {
  background-color:red;
  background-position: 0 0;
  font-weight: 600;
  border: 2px solid black;
  color: white;
}

.btnDelete:active {
  opacity: .5;
}

.buttonFormCSS {
  max-width: 15vw;
  margin-top: 10px;
  border-radius: 10%;
  padding: 10px;
}

.formularioMatchCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(#60efbc, #58d5c9);
  margin: 20px;
  padding: 20px;
  width:93%;
  min-height: 200px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  font-size: 1.2rem;
  font-family: "Tomorrow", sans-serif;
}

.formularioMatchCard select {
  margin-bottom: 20px;
}

.formularioMatchCard input {
  margin-bottom: 20px;
}

.showDetailsMatchCSS {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: radial-gradient(#60efbc, #58d5c9);
  margin: 20px;
  padding: 20px;
  width: 80%;
  min-height: 200px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  font-size: 1.2rem;
  font-family: "Tomorrow", sans-serif;
}

.showMatchCard {
  background: radial-gradient(#60efbc, #58d5c9);
  margin: 20px;
  padding: 20px;
  width: 80%;
  min-height: 200px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  font-size: 1.2rem;
  font-family: "Tomorrow", sans-serif;
  z-index: 0;
}

.showMatchCard:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.10);
}

#showListPlayers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(#60efbc, #58d5c9);
  margin: 20px;
  padding: 20px;
  width: 80%;
  min-height: 200px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  font-size: 1.2rem;
  font-family: "Tomorrow", sans-serif;

}

.showMatchesCSS button {
  margin: 5px;
}

#calendarCSS {
  height: 80vh;
  width: 100%;
  background-color: white;
}

#fieldSetCSS {
  border-color: darkblue;
}

#commentCardCSS {
  background: radial-gradient(#60efbc, #58d5c9);
  margin: 20px;
  padding: 20px;
  width: 80%;
  min-height: 200px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  font-size: 1.2rem;
  font-family: "Tomorrow", sans-serif;
}

#commentCardCSS p {
  width: 100%;
}

#commentCardBtn {
  display: flex;
  justify-content: end;
}

#userCardCSS {
  background: radial-gradient(#60efbc, #58d5c9);
  margin: 20px;
  padding: 20px;
  width: 56%;
  min-height: 200px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  font-size: 1.2rem;
  font-family: "Tomorrow", sans-serif;
  font-weight: bold;
}

.profile-CSS {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(#60efbc, #58d5c9);
  margin: 20px;
  padding: 20px;
  width:80%;
  min-height: 200px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
  font-size: 1.2rem;
  font-family: "Tomorrow", sans-serif;

}

@media (width >= 768px) {

  #navbar-menu-shadow {
    position:fixed;
    background-color: black;
    width: 67.3%;
    top: 0;
    left: 1px;
    height: 12%;
    align-content: center;
    padding: 0;
    justify-self: anchor-center;
    opacity: 1;
    
  }

  #navbar-menu-show {
    position:fixed;
    background-color: black;
    width: 67.3%;
    top: 0;
    left: 1px;
    height: 12%;
    align-content: center;
    padding: 0;
    justify-self: anchor-center;
  }

  #nav-toggle {
    display: none;
  }

  #navbar { 
    padding: 0;
  }

  #navbar-menu-elements {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .showMatchesCSS {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-CSS {
    width: 90%;
    place-self: center;
  }

  #commentCardCSS {
    width: 90%;
    place-self: center;
  }

  #root {
    padding-top: 7%;
    width: 100%;
  }
  body {
    margin: 0;
  }
  
}



