#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
}

#navbar {
  display: flex;
  justify-content: space-around;
}

.formularioCSS {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formularioCSS input {
  max-width: 40vw;
  margin-bottom: 10px;
}

.buttonFormCSS {
  max-width: 15vw;
  margin-top: 10px;
  border-radius: 10%;
  padding: 10px;
}

.formularioMatchCard {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.formularioMatchCard select {
  margin-bottom: 20px;
}

.formularioMatchCard input {
  margin-bottom: 20px;
}
